<section class="block container">
    <header class="block__header">
        <h2>Host on the cloud to keep</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, dicta.</p>
    </header>

    <article class="grid grid--1x2 feature feature__block">

        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to use</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nemo suscipit numquam? Consequatur,
                voluptatum nulla. Officiis nulla quaerat ducimus itaque magni sunt, quae facere? Expedita est
                provident
                harum fugiat maiores?</p>
            <a href="#" class="link-arrow">Learn More </a>
        </div>
        <img src="images/easy.jpg" alt="" class="feature__image">
    </article>
    <article class="grid grid--1x2 feature feature__block">
        <img src="images/fast.jpg" alt="" class="feature__image">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simple Fast Websites</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nemo suscipit numquam? Consequatur,
                voluptatum nulla. Officiis nulla quaerat ducimus itaque magni sunt, quae facere? Expedita est
                provident
                harum fugiat maiores?</p>
            <a href="#" class="link-arrow">Learn More </a>
        </div>

    </article>

    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3 class="feature__heading">WordPress made easy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nemo suscipit numquam? Consequatur,
                voluptatum nulla. Officiis nulla quaerat ducimus itaque magni sunt, quae facere? Expedita est
                provident
                harum fugiat maiores?</p>
            <a href="#" class="link-arrow">Learn More </a>
        </div>
        <img src="images/wordpress.jpg" alt="" class="feature__image">
    </article>
</section>